div#msgs(style ="height:400; width:400; overflow:scroll;")

form#chatForm
    input#name(type="text")
    input#msg(type="text")
    button#sendBtn Send

    script.
        const socket = new WebSocket('ws://localhost:8181/', 'chat')

        document.querySelector('#sendBtn').addEventListener('click', (clickEvent) => {
            clickEvent.preventDefault();
            const name = document.querySelector('#name').value;
            const msg = document.querySelector('#msg').value;

            socket.send(`{"name":"${name}", "msg":"${msg}"}`);
            // This is to allow sending another message
            document.querySelector('#msg').value = '';
        });

        //socket.onmessage = async (msg) => {
        socket.onmessage = (msg) => {
            console.info('Received a message')

            msg.data.text().then(textData => {

                console.info(`Converted msg to text ${textData}`)
                const jsonData = JSON.parse(textData);

                console.info(`Converted msg to json ${jsonData}`)

                const msgEl = document.createElement('div');
                msgEl.innerText = `${jsonData.name}:${jsonData.msg}`;

                document.querySelector('#msgs').appendChild(msgEl);

            })

        }